%section#content-details.row.clearfix
  %article#detail-article.col-sm-8
    %h1#article-title Look at your animals!



%section#products
  - @products.each do |product|
    .productbox
      %img.img-responsive.img-circle{:src => "#{asset_path product.image_name}", alt:"#{product.title}"}
      .producttitle= product.title
      .productprice
        .pull-right
          %a.btn.btn-danger.btn-sm{:href => "#{product_path(product)}", :role => "button"} BUY
        .pricetext= product.price
