!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, user-scalable=no", :name => "viewport"}
    %title Rails Payment
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800", :rel => "stylesheet"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  #content.container
    %header#content-header
      #price-container
        %span.glyphicon.glyphicon-tag
        %span.price rails
      = image_tag('header-image.jpg', id:"content-head-img", alt: "Rails Payment!")
    = yield
  %footer#site-footer
    Made by
    %a{:href => "http://www.abdullahvelioglu.com", :target => "_blank"}
      %p Abdullah Velioglu
